/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

a {
  color: #f44336;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #555;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 300;
  margin: 0 0 20px 0;
  padding: 0;
  letter-spacing: 2px;
}

h2{
  color: #0c2e8a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;  
}
h3{
  color: #555;
  font-weight: 300;
  font-size: 23px;
  line-height: 26px;
}

h4{
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #f44336;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #f44336;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0c2e8a;
  color: #fff;
}

/*--------------------------------------------------------------
 zone log-in inscription
--------------------------------------------------------------*/

#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .log-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .log-links a:hover {
  color: #f44336;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 20px 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}


#header #logo img {
  padding: 0;
  margin: 0;  
}

/*--------------------------------------------------------------
# Banniere
--------------------------------------------------------------*/

#banner {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  background-position: right 35% bottom 45%;  
}

#banner .banner-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;  
}

#banner .banner-content h2 {
  color: #fafafa;
  margin-bottom: 30px;
  font-size: 52px;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: #f44336;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #f44336;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #f44336;
}

#mobile-nav ul .menu-item-active {
  color: #f44336;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Section Header
--------------------------------*/
#header{
  width: 100%;
}
#header #logo h1 {
  font-size: 35px;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1;  
  font-weight: 700;
}

#header #logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #f44336;
}

.section-header {
  margin-bottom: 30px;
}

.section-header h2 {  
  position: relative;
  padding-bottom: 20px;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #f44336;
  bottom: 0;
  left: 0;
}

.section-header p {
  padding: 0;
  margin: 0;
}

/* About Section
--------------------------------*/

#about {
  padding: 60px 0 30px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}


#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #f44336;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}
#about .button{
  margin-top: 5rem;
  margin-right: 1rem;
  text-align: right;
  
}
#about .btn-secondary{
  background-color: #0c2e8a;
}
#about .btn-secondary:hover{
  color: #f44336;
}
/* Films Section
--------------------------------*/

#films {
  padding: 30px 0 0 0;
}

#films .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#films .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#films .box .icon {
  float: left;
}

#films .box p {
  font-size: 14px; 
  margin-bottom: 0;
  line-height: 24px;
}
#films .button {
  margin-top: 1rem;
  text-align: right;
}
/* Synopsis section
--------------------------------*/
#synopsis {
  padding: 60px 0 30px 0;
}
#synopsis .syno-img {
  overflow: hidden;
  margin-bottom: 1rem;
}

#synopsis .syno-img img { 
  max-width: 100%;  
}
#synopsis .content p {
  line-height: 26px;
  margin-bottom: 1rem;
}

#synopsis .content p:last-child {
  margin-bottom: 0;
}
#synopsis .button{
  margin-top: 2rem;    
}
#synopsis .button a {
  margin-left: 1rem;  
}
#synopsis .btn-secondary{
  background-color: #0c2e8a;
}
#synopsis .btn-secondary:hover{
  color: #f44336;
}
/* Infos Section
--------------------------------*/
#info {
  padding: 60px 0 30px 0;
}
#info .googlemap{
  margin-bottom: 1rem;
}

#info .content p {
  line-height: 26px;
}

#info .content p:last-child {
  margin-bottom: 0;
}

#info .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #f44336;
}

#info .content ul {
  list-style: none;
  padding: 0;
}

#info .content ul li {
  padding-bottom: 10px;
}
#info .button{
  margin-top: 5rem;
  margin-right: 1rem;
  text-align: right;
  
}
#info .btn-secondary{
  background-color: #0c2e8a;
}
#info .btn-secondary:hover{
  color: #f44336;
}
/* Contact Section
--------------------------------*/

#contact {
  padding: 30px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #f44336;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #f44336;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

#contact #google-map {
  height: 290px;
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #f44336;
  border: 1px solid #f44336;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #0c2e8a;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #f44336;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #f2f5f8;
  padding: 0 0 30px 0;
  font-size: 14px;
}


/*media queries*/
@media (max-width: 576px) {
  #contact #google-map {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }

  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #header {
    padding: 20px 0;
    height: 74px;
  }

  #header #logo h1 {
    font-size: 28px;
  }

  #header #logo img {
    max-height: 35px;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #banner .banner-content h2 {
    font-size: 34px;
  }
}

@media screen and (min-width: 1024px){
  #banner {
    background-position: right 35% bottom 54%;  
  }
  h2{  
  font-weight: 700;
  font-size: 36px;  
  }
  h3{  
  font-size: 27px;  
  }
  .nav-menu a { 
  font-size: 16px;
  outline: none;
  }
}